<div class="contact-info mt-4">
    <h5 style="color: #7588fd">Contact Information</h5>
    <p>
        <strong>Mobile:</strong> <a href="tel:+919973152523" class="text-dark text-decoration-none">+91 99731 52523</a>
        |
        <a href="tel:+918860282504" class="text-dark text-decoration-none">+91 75024 61630</a><br />
        <strong>Email: </strong><a href="mailto:meity.2p@manuu.edu.in"
            class="text-dark text-decoration-none">meity.2p@manuu.edu.in</a><br />
        <strong>Department Address:</strong>
        Department of Computer Science & Information Technology, Maulana
        Azad National Urdu University, Gachibowli, Hyderabad - 500032

    </p>
    <p style="color: #7588fd">
        If you need any assistance, feel free to contact us. We're here to
        help!
    </p>
</div>