<!-- Master Skill -->
<section class="section master-skill">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="section-header aos" data-aos="fade-up">
          <div class="section-sub-head">
            <!-- <span>What’s New</span> -->
            <h2>What is Coding Carnival?</h2>
          </div>
        </div>
        <div class="section-text aos" data-aos="fade-up">
          <p>
            Coding Carnival is two days long running code-a-thon will be held on
            March 09<sup>th</sup> to 10<sup>th</sup> 2024 We calls for artists,
            coders, designers, tech evangelists, creatives, and developers from
            all disciplines to take a part to win awesome prizes and collaborate
            with other developers . Throughout the weekend coders at Coding
            Carnival will have unique opportunities to learn from each other
            trying hands in new technologies We are determined to have an
            all-inclusive and diverse group of students attending.
          </p>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-6 ps-0 pe-0">
              <!-- Faq -->
              <div class="faq-card">
                <h6 class="faq-title">
                  <a
                    class="collapsed"
                    data-bs-toggle="collapse"
                    href="#faqone"
                    aria-expanded="false"
                    >What is a Code-a-thon?</a
                  >
                </h6>
                <div id="faqone" class="collapse">
                  <div class="faq-detail">
                    <p>
                      A code-a-thon is a 2 days collaborative event where
                      programmers from across the nation come together to
                      collectively design functional UI/UX interfaces, develop
                      Machine Learning content, engage in game development, and
                      create written automation by the conclusion of the event.
                    </p>
                  </div>
                </div>
              </div>

              <div class="faq-card">
                <h6 class="faq-title">
                  <a
                    class="collapsed"
                    data-bs-toggle="collapse"
                    href="#faqthree"
                    aria-expanded="false"
                  >
                    I am a first time coder, what should i do?</a
                  >
                </h6>
                <div id="faqthree" class="collapse">
                  <div class="faq-detail">
                    <p>
                      No worries, we love to welcome first time coders and start
                      their coding journey from this code-a-thon.
                    </p>
                    <p>
                      We have some awesome workshops and events which will help
                      you get started with code-a-thon and coding in general.
                    </p>
                  </div>
                </div>
              </div>

              <div class="faq-card">
                <h6 class="faq-title">
                  <a
                    class="collapsed"
                    data-bs-toggle="collapse"
                    href="#faqtwo"
                    aria-expanded="false"
                    >Who can attend?</a
                  >
                </h6>
                <div id="faqtwo" class="collapse">
                  <div class="faq-detail">
                    <p>
                      The Coding Carnival welcomes participants from any
                      location, including undergraduates, postgraduates, and
                      industry experts.
                    </p>
                  </div>
                </div>
              </div>

              <!-- /Faq -->
            </div>

            <div class="col-lg-6 pe-0 ps-0 ps-lg-3">
              <!-- Faq -->
              <div class="faq-card">
                <h6 class="faq-title">
                  <a
                    class="collapsed"
                    data-bs-toggle="collapse"
                    href="#faqfour"
                    aria-expanded="false"
                    >How team formation works?</a
                  >
                </h6>
                <div id="faqfour" class="collapse">
                  <div class="faq-detail">
                    <p>
                      Teams for the code-a-thon can consist of either solo
                      participants or a maximum of four members.
                    </p>
                    <p>
                      If you don't already have a team, there will be ample
                      opportunities for you to connect with fellow coders and
                      form a team during the event.
                    </p>
                  </div>
                </div>
              </div>

              <div class="faq-card">
                <h6 class="faq-title">
                  <a
                    class="collapsed"
                    data-bs-toggle="collapse"
                    href="#faqfive"
                    aria-expanded="false"
                    >How to register myself in the code-a-thon?</a
                  >
                </h6>
                <div id="faqfive" class="collapse">
                  <div class="faq-detail">
                    <p>
                      All you need is to fill our form above, we will guide you
                      through everything there.
                    </p>
                  </div>
                </div>
              </div>

              <div class="faq-card">
                <h6 class="faq-title">
                  <a
                    class="collapsed"
                    data-bs-toggle="collapse"
                    href="#faqsix"
                    aria-expanded="false"
                    >I have more questions?</a
                  >
                </h6>
                <div id="faqsix" class="collapse">
                  <div class="faq-detail">
                    <p>
                      Reach us directly at (<a
                        href="mailto:meity.2p@manuu.edu.in"
                        >meity.2p@manuu.edu.in</a
                      >
                      or
                      <a href="tel:+919973152523" rel="nofollow"
                        >+91 99731 52523</a
                      >
                      or
                      <a href="tel:+916204923788" rel="nofollow"
                        >+91 62049 23788</a
                      >
                      ) we would happy to help you.
                    </p>
                  </div>
                </div>
              </div>
              <!-- /Faq -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 d-flex align-items-start">
        <div class="career-img aos" data-aos="fade-up">
          <img
            src="assets/img/join.png"
            alt="coding carnival"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Master Skill -->
