<div class="contact-info mt-4">
  <p class="themed-red">
    If you need any assistance, feel free to contact us. We're here to help!
  </p>
  <h5 class="themed-red">Contact Information</h5>
  <p>
    <strong>Mobile:</strong>
    <a
      href="tel:+919973152523"
      rel="nofollow"
      class="text-dark text-decoration-none"
      >+91 99731 52523</a
    >
    |
    <a
      href="tel:+916204923788"
      rel="nofollow"
      class="text-dark text-decoration-none"
      >+91 6204 923788</a
    ><br />
    <strong>Email: </strong>
    <a href="info@codingcarnival.in" class="text-dark text-decoration-none"
      >info@codingcarnival.in</a
    >
    |
    <a
      href="mailto:meity.2p@manuu.edu.in"
      class="text-dark text-decoration-none"
      >meity.2p@manuu.edu.in</a
    >
    <br />
    <strong>Department Address:</strong>
    Department of Computer Science & Information Technology, Maulana Azad
    National Urdu University, Gachibowli, Hyderabad - 500032
  </p>
  <div>
    <ul class="list-unstyled d-flex">
      <li>
        <a
          class="link-body-emphasis"
          href="https://www.instagram.com/codingcarnival.manuu/"
          target="_blank"
          ><i class="fa-brands fa-instagram w-auto fs-4"></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          class="link-body-emphasis"
          href="https://www.facebook.com/profile.php?id=61556251927222&mibextid=2JQ9oc"
          target="_blank"
          ><i class="fa-brands fa-facebook w-auto fs-4"></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          class="link-body-emphasis"
          href="https://www.linkedin.com/in/coding-carnival/"
          target="_blank"
          ><i class="fa-brands fa-linkedin-in w-auto fs-4"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
