<!-- Footer -->
<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top aos" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h5 class="themed-red">About us</h5>
          <p>
            Coding Carnival is 2 days long running code-a-thon that will be held
            from March 09<sup>th</sup> to 10<sup>th</sup> 2024 We call for
            artists, coders, designers, tech evangelists, creatives, and
            developers from all disciplines to take part to win awesome prizes
            and collaborate with other developers. Throughout the weekend coders
            at Coding Carnival will have unique opportunities to learn from each
            other trying hands in new technologies We are determined to have an
            all-inclusive and diverse group of students attending.
          </p>
        </div>

        <div class="col-lg-4 col-md-6">
          <h5 class="themed-red">Contact us</h5>
          <p>
            Mobile:
            <a href="tel:+919973152523" rel="nofollow" class="text-decoration-none">+91 99731 52523</a>
            |
            <a href="tel:+916204923788" rel="nofollow" class="text-decoration-none">+91 6204 923788</a>
          </p>
          <p>
            Email:
            <a href="mailto:info@codingcarnival.in" class="text-decoration-none">info@codingcarnival.in
            </a>
            |
            <a href="mailto:meity.2p@manuu.edu.in" class="text-decoration-none">meity.2p@manuu.edu.in</a>
          </p>
          <address>
            Department of Computer Science & Information Technology, Maulana
            Azad National Urdu University, Gachibowli, Hyderabad - 500032
          </address>
        </div>

        <div class="col-lg-4 col-md-6">
          <h5 class="themed-red">Find us on map</h5>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d951.6837875228947!2d78.36515785039147!3d17.424493400000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93343550e08d%3A0xe2a90755c698d2dc!2sSchool%20of%20Technology!5e0!3m2!1sen!2sin!4v1707940129115!5m2!1sen!2sin"
            width="100%" height="200" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <hr />
      <!-- Copyright -->
      <div class="">
        <div class="row">
          <div class="col-md-6">
            <div class="">
              <ul class="list-unstyled d-flex">
                <li class="ms-3">
                  <a class="link-body-emphasis" href="https://www.instagram.com/codingcarnival.manuu/"
                    target="_blank"><i class="fa-brands fa-instagram w-auto fs-4"></i></a>
                </li>
                <li class="ms-3">
                  <a class="link-body-emphasis"
                    href="https://www.facebook.com/profile.php?id=61556251927222&mibextid=2JQ9oc" target="_blank"><i
                      class="fa-brands fa-facebook w-auto fs-4"></i></a>
                </li>
                <li class="ms-3">
                  <a class="link-body-emphasis" href="https://www.linkedin.com/in/coding-carnival/" target="_blank"><i
                      class="fa-brands fa-linkedin-in w-auto fs-4"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="copyright-text">
              <p>© 2024 CodingCarnival, Inc. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Copyright -->
    </div>
  </div>
  <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->