<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=0"
/>
<title>Coding Carnival: AR/VR, ML, Game Dev, UI/UX Hackathon</title>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="favicon/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="favicon/favicon-16x16.png"
/>
<link rel="manifest" href="favicon/site.webmanifest" />
<meta
  name="description"
  content="Join Coding Carnival, Hyderabad's top hackathon in February. AR/VR, ML, game dev, UI/UX challenges. Network, showcase skills. Register now!"
/>
<meta
  name="keywords"
  content="Coding Carnival, CodingCarnival, CodingCarnival.in, Hyderabad hackathon, computer science, information technology, programming, February hackathon, Coding competition, Tech meetup, Software development, Web development, App development, Programming languages, Coding challenges, Hackathon projects, Innovation showcase, Technology enthusiasts, Developer community, Coding workshops, IT networking, Tech talks, Emerging technologies, Digital creativity, Design thinking, Startup ecosystem, Entrepreneurship event, STEM education, Computer engineering, Tech conference, Tech expo, Digital solutions, Creative coding, Tech enthusiasts gathering, coding event Hyderabad, tech event, programming competition, coding challenge, Hyderabad tech event,AR/VR Hackathon, ML Development, Game Development, UI/UX Design, Hackathon Event, Tech Hackathon, Coding Competition, Virtual Reality Hackathon, Augmented Reality Event, Machine Learning Challenge, hackathon meaning, coding carnival manuu, coding carnival hyderabad, hackathon manuu, hackathon hyderabad"
/>
<meta name="robots" content="index, follow" />

<meta property="og:title" content="Coding Carnival" />
<meta property="og:site_name" content="" />
<meta property="og:url" content="https://codingcarnival.in" />
<meta
  property="og:description"
  content="Join the ultimate coding adventure at Coding Carnival, where innovators and tech enthusiasts come together to showcase their skills in AR/VR, ML, UI/UX, and game development, solve challenges, and unleash creativity. Dive into a world of hackathons filled with excitement, collaboration, and endless opportunities. Get ready to code, compete, and connect with like-minded individuals in the heart of innovation. Let's turn ideas into reality and celebrate the spirit of coding at Coding Carnival!"
/>
<meta property="og:type" content="website" />
<meta property="og:image" content="https://i.ibb.co/wNL83gZ/CC-banner.jpg" />

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="favicon/favicon.svg" />
