<!-- <div
  class="modal fade onloadPopup"
  id="onloadPopup"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header postion-relative">
        <h5 class="text-center m-auto">
          <i class="fa-solid fa-bullhorn"></i>
        </h5>

        <button
          type="button"
          class="btn-close position-absolute"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          class="registration-counter d-flex flex-column align-items-center justify-content-center"
        >
          <div class="clock-container">
            <div class="clock-col">
              <p class="clock-day clock-timer"></p>
              <p class="clock-label text-dark">Day</p>
            </div>
            <div class="clock-col">
              <p class="clock-hours clock-timer"></p>
              <p class="clock-label text-dark">Hours</p>
            </div>
            <div class="clock-col">
              <p class="clock-minutes clock-timer"></p>
              <p class="clock-label text-dark">Minutes</p>
            </div>
            <div class="clock-col">
              <p class="clock-seconds clock-timer"></p>
              <p class="clock-label text-dark">Seconds</p>
            </div>
          </div>
        </div>
        <div class="noti-text-container">
          <p class="text-secondry my-2 text-center">
            We have limited seats available.
          </p>
          <p class="text-secondry p-line-height text-center">
            Please register on or before closing date. Registration will be
            closed on 05<sup>th</sup> March 2024.
          </p>
          <h6 class="themed-red my-2 text-center mt-4">
            We will provide accommodation also.
          </h6>
          <p class="text-secondry p-line-height text-center">
            We offer accommodation for event participants, but you're welcome to
            stay at your own home if you prefer. Space is limited, so please
            book early. Let us know if you won't be using our accommodation.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
