<section class="home-slide d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="home-slide-face aos" data-aos="fade-up">
          <div class="home-slide-text">
            <h5>Two days of creation</h5>
            <h1>Join Coding Carnival</h1>
            <p>
              Join us on <del>February 16<sup>th</sup></del> March 09<sup
                >th</sup
              >
              2024 with over 300 students from across the nation for two days of
              creation, innovation, & fun.
            </p>
          </div>
          <div class="banner-content">
            <div class="all-btn all-category d-flex align-items-center">
              <a href="/hacker-registration" class="btn btn-primary">
                Apply Now
              </a>
              <a
                href="javascript:void(0);"
                rel="nofollow"
                onclick="startDownload();"
                class="btn btn-primary ms-4"
                id="downloadButton"
              >
                <span id="downloadIcon"
                  ><i class="fas fa-download me-2" id="download-icon"></i
                ></span>
                Download Brochure
              </a>
              <div id="spinner">
                <i class="fas fa-spinner fa-spin"></i>
              </div>
            </div>
          </div>
          <div class="trust-user">
            <p>Number of hackers registered so far</p>
            <div class="trust-rating d-flex align-items-center">
              <div class="rate-head">
                <h2><span>308</span>+</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div class="girl-slide-img aos" data-aos="fade-up">
          <img src="assets/img/homeImage/AR_VR.png" alt="coding carnival" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Home Banner -->
