<!-- Top Categories -->
<section class="section how-it-works">
  <div class="container">
    <div class="section-header aos" data-aos="fade-up">
      <div class="section-sub-head">
        <span>Prize</span>
        <h2>Attractive prize</h2>
      </div>
    </div>
    <div class="section-text aos" data-aos="fade-up">
      <p>
        Unlock Your Genius and Reap the Rewards: Dive into our Prize Pool for a
        Hack-tastic Win!
      </p>
    </div>
    <div class="owl-carousel blogs-slide owl-theme aos" data-aos="fade-up">
      <div class="instructors-widget blog-widget">
        <div class="instructors-img">
          <a href="#">
            <img
              class="img-fluid"
              alt="coding carnival"
              src="assets/img/homeImage/Gold.png"
            />
          </a>
        </div>
        <div class="instructors-content text-center">
          <h5><a href="#">First Place Prize</a></h5>
          <p>
            First prize of ₹25000 to each domain.
          </p>
          <p>*Terms and conditions applied.</p>
        </div>
      </div>
      <div class="instructors-widget blog-widget">
        <div class="instructors-img">
          <a href="#">
            <img
              class="img-fluid"
              alt="coding carnival"
              src="assets/img/homeImage/Silver.png"
            />
          </a>
        </div>
        <div class="instructors-content text-center">
          <h5><a href="#">Second Place Prize</a></h5>
          <p>
            Second prize of ₹15000 to each domain.
          </p>
          <p>*Terms and conditions applied.</p>
        </div>
      </div>
      <div class="instructors-widget blog-widget">
        <div class="instructors-img">
          <a href="#">
            <img
              class="img-fluid"
              alt="coding carnival"
              src="assets/img/homeImage/Bronze.png"
            />
          </a>
        </div>
        <div class="instructors-content text-center">
          <h5><a href="#">Third Place Prize</a></h5>
          <p>
            Third prize of ₹10000 to each domain.
          </p>
          <p>*Terms and conditions applied.</p>
        </div>
      </div>
      <div class="instructors-widget blog-widget">
        <div class="instructors-img">
          <a href="#">
            <img
              class="img-fluid"
              alt="coding carnival"
              src="assets/img/homeImage/gift.png"
            />
          </a>
        </div>
        <div class="instructors-content text-center">
          <h5><a href="#">Best Try</a></h5>
          <p>
            Attractive gift hamper for best Attempt.
          </p>
          <p>*Terms and conditions applied.</p>
        </div>
      </div>


      <!-- <div class="instructors-widget blog-widget">
        <div class="instructors-img">
          <a href="#">
            <img
              class="img-fluid"
              alt="coding carnival"
              src="assets/img/blog/blog-01.jpg"
            />
          </a>
        </div>
        <div class="instructors-content text-center">
          <h5><a href="#">Best Beginner</a></h5>
          <p>Your project will qualify for this category if atleast 50%</p>
        </div>
      </div>
      <div class="instructors-widget blog-widget">
        <div class="instructors-img">
          <a href="#">
            <img
              class="img-fluid"
              alt="coding carnival"
              src="assets/img/blog/blog-01.jpg"
            />
          </a>
        </div>
        <div class="instructors-content text-center">
          <h5><a href="#">Best UI/UX</a></h5>
          <p>Project with most creative designs will be UI/UX track</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- /Top Categories -->
