 <!-- Top Categories -->
 <section class="section how-it-works">
    <div class="container">
      <div class="section-header aos" data-aos="fade-up">
        <div class="section-sub-head">
          <span>Prize</span>
          <h2>Attractive prize</h2>
        </div>
        <div class="all-btn all-category d-flex align-items-center">
          <a href="job-category.html" class="btn btn-primary">All Categories</a>
        </div>
      </div>
      <div class="section-text aos" data-aos="fade-up">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean accumsan bibendum gravida
          maecenas augue elementum et neque. Suspendisse imperdiet.</p>
      </div>
      <div class="owl-carousel blogs-slide owl-theme aos" data-aos="fade-up">
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-01.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">Attract More Attention Sales And Profits</a></h5>
            <p>Marketing</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>Jun 15, 2022</span>
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-02.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">11 Tips to Help You Get New Clients</a></h5>
            <p>Sales Order</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>May 20, 2022</span>
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-03.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">An Overworked Newspaper Editor</a></h5>
            <p>Design</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>May 25, 2022</span>
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-04.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">A Solution Built for Teachers</a></h5>
            <p>Seo</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>Jul 15, 2022</span>
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-02.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">Attract More Attention Sales And Profits</a></h5>
            <p>Marketing</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>Sep 25, 2022</span>
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-03.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">An Overworked Newspaper Editor</a></h5>
            <p>Marketing</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>May 25, 2022</span>
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-04.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">A Solution Built for Teachers</a></h5>
            <p>Analysis</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>May 15, 2022</span>
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-02.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">11 Tips to Help You Get New Clients</a></h5>
            <p>Development</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>Jun 20, 2022</span>
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-03.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">An Overworked Newspaper Editor</a></h5>
            <p>Sales</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>May 25, 2022</span>
            </div>
          </div>
        </div>
        <div class="instructors-widget blog-widget">
          <div class="instructors-img">
            <a href="blog-list.html">
              <img class="img-fluid" alt="" src="assets/img/blog/blog-04.jpg">
            </a>
          </div>
          <div class="instructors-content text-center">
            <h5><a href="blog-list.html">A Solution Built for Teachers</a></h5>
            <p>Marketing</p>
            <div class="student-count d-flex justify-content-center">
              <i class="fa-solid fa-calendar-days"></i>
              <span>April 15, 2022</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Top Categories -->