<div class="owl-carousel login-slide owl-theme">
  <div class="welcome-login">
    <div class="login-banner">
      <img
        src="images/vr-3.png"
        class="img-fluid"
        alt="Logo"
        style="max-width: 350px"
      />
    </div>
    <div class="mentor-course text-center">
      <h2>Welcome to <br />Coding Carnival.</h2>
      <p>Unleash Your Creativity and Skills in Our Hackathon Adventure.</p>
    </div>
  </div>
  <div class="welcome-login">
    <div class="login-banner">
      <img
        src="images/vr-2.png"
        class="img-fluid"
        alt="Logo"
        style="max-width: 350px"
      />
    </div>
    <div class="mentor-course text-center">
      <h2>Join the Fun!</h2>
      <p>Compete, Collaborate, and Create in the Ultimate Coding Challenge.</p>
    </div>
  </div>
  <div class="welcome-login">
    <div class="login-banner">
      <img
        src="images/vr-1.png"
        class="img-fluid"
        alt="Logo"
        style="max-width: 350px"
      />
    </div>
    <div class="mentor-course text-center">
      <h2>Dive into the Code Ocean.</h2>
      <p>Discover a World of Possibilities at Coding Carnival</p>
    </div>
  </div>
</div>
