<!-- Become An Instructor -->
<section class="section share-knowledge aos" data-aos="fade-up">
  <div class="container">
    <div class="section-sub-head pb-4">
      <!-- <span>What’s New</span> -->
      <h2>Our Sponsors</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 d-flex">
        <div class="student-mentor cube-instuctor">
          <div class="row flex-column">
            <div class="col-lg-12 col-md-12 d-flex align-items-center">
              <div class="mentor-img">
                <a href="https://manuu.edu.in/" target="_blank">
                  <img class="img-fluid" alt="manuu-banner" src="assets/img/sponsors/manuu-logo.png" />
                </a>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 pt-3">
              <div class="top-instructors">
                <p class="m-0 p-0">
                  Maulana Azad National Urdu University (MANUU) was founded as a Central University through legislation
                  passed by Parliament in 1998. Situated in Gachibowli, Hyderabad, Telangana State, its principal campus
                  spans 200 acres. The university pays homage to Maulana Abul Kalam Azad, a revered freedom fighter and
                  esteemed scholar, who served as Independent India's inaugural Education Minister.
                  <a href="https://manuu.edu.in/" target="_blank" class="text-primary">Know more...</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 d-flex">
        <div class="student-mentor cube-instuctor">
          <div class="row flex-column">
            <div class="col-lg-12 col-md-12 d-flex align-items-center">
              <div class="mentor-img">
                <a href="https://www.meity.gov.in/" target="_blank">
                  <img class="img-fluid" alt="meity-logo" src="assets/img/sponsors/edeekshaam-logo.png" />
                </a>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 pt-3">
              <div class="top-instructors">
                <p class="m-0 p-0">
                  The Ministry of Electronics and Information Technology (MeitY) traces its roots back to the
                  establishment of the Department of Electronics and Information Technology (DeitY) in 2012, which later
                  evolved into a full-fledged ministry on July 19, 2016. MeitY is entrusted with the responsibility of
                  formulating and implementing policies to advance India's electronics and IT sectors. It oversees IT
                  policy and strategy, promotes the development of the electronics industry.
                  <a href="https://www.meity.gov.in/" target="_blank" class="text-primary">Know more...</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Become An Instructor -->