<div
  class="modal fade terms-condition-modal"
  id="terms-condition-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Terms and conditions
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="terms-content">
              <div class="terms-text">
                <h5 class="themed-red">Eligibility Criteria</h5>
                <p>
                  Any students or working professionals having knowledge in
                  AR/VR development, AI/ML, game development in Javascript/React
                  JS (web-based game), and UI/UX.
                </p>
                <h5 class="themed-red">Registration</h5>
                <p>
                  Participation in the event requires mandatory registration.
                </p>
                <p>
                  After submitting the registration form, your application
                  status will be marked as pending. Our team will carefully
                  verify the information provided, including payment details.
                  Upon completion of this verification process, we will confirm
                  your application.
                </p>
                <h5 class="themed-red">Code of Conduct</h5>
                <p>
                  All participants are expected to adhere to the Code of Conduct
                  throughout the duration of the hackathon. This includes
                  maintaining respectful and professional conduct towards fellow
                  participants, organizers, mentors, and judges. Any form of
                  harassment, discrimination, or disrespectful behavior will not
                  be tolerated.
                </p>
                <p>
                  Participants are also required to respect the intellectual
                  property rights of others, refrain from engaging in any form
                  of cheating or plagiarism, and comply with all local laws and
                  regulations. Failure to adhere to the Code of Conduct may
                  result in disqualification from the event.
                </p>
                <h5 class="themed-red">Intellectual Property</h5>
                <p>
                  Participants retain ownership of the intellectual property
                  rights to the projects they develop during the hackathon. By
                  participating in the event, participants grant the organizers
                  a non-exclusive license to use, reproduce, and distribute
                  their projects for promotional and educational purposes
                  related to the hackathon.
                </p>
                <p>
                  Participants are responsible for ensuring that their projects
                  do not infringe upon the intellectual property rights of
                  others. Any third-party materials used in the projects must be
                  properly attributed, and participants should seek appropriate
                  permissions or licenses for their use.
                </p>
                <p>
                  The organizers may provide guidance or resources on
                  intellectual property rights, but participants are ultimately
                  responsible for managing their own intellectual property. The
                  organizers reserve the right to disqualify any project that
                  violates intellectual property rights or infringes upon the
                  rights of others.
                </p>
                <h5 class="themed-red">Team Formation</h5>
                <p>
                  Teams must consist of 1 to 4 members. Participants are
                  responsible for forming their own teams within this size
                  limit. Each team member should be listed during registration.
                  Changes to team composition must be communicated in advance.
                  Teams exceeding the maximum size may be disqualified.
                </p>
                <h5 class="themed-red">Project Submission</h5>
                <p>
                  All teams must submit their projects within the specified
                  deadline. Projects should be submitted through the designated
                  platform or method provided by the organizers. Each submission
                  must include all relevant files, documentation, and any
                  additional materials required for evaluation.
                </p>
                <p>
                  Projects should be original creations developed during the
                  hackathon, and any third-party resources used must be properly
                  attributed. Late submissions may not be accepted, and teams
                  are responsible for ensuring that their submissions are
                  complete and error-free. The organizers reserve the right to
                  disqualify projects that do not adhere to the submission
                  guidelines or violate any rules of the hackathon.
                </p>
                <h5 class="themed-red">Prizes</h5>
                <p>
                  Get ready to be rewarded for your innovation and hard work!
                  Our hackathon offers a range of exciting prizes to motivate
                  and recognize outstanding achievements. Winners will not only
                  receive cash awards but also gain access to exclusive
                  opportunities that can propel their projects to new heights.
                </p>
                <p>
                  With our commitment to excellence, fairness, and transparency,
                  rest assured that prize distribution will follow industry
                  standards, ensuring that deserving teams are duly rewarded for
                  their creativity and dedication.
                </p>
                <h5 class="themed-red">Schedule</h5>
                <p>Announcing soon...</p>
                <h5 class="themed-red">Accommodation</h5>
                <p>
                  We will provide accommodation for participants during the
                  event. However, attendees who prefer to stay at their own
                  homes are welcome to do so. While we aim to accommodate all
                  participants, space may be limited, so we encourage early
                  booking. Please inform us if you plan to opt out of provided
                  accommodation arrangements.
                </p>
                <h5 class="themed-red">Liability Waiver</h5>
                <p>
                  Participants agree to waive any claims against the organizers
                  for injuries or damages during the event. Organizers are not
                  liable for accidents or losses. Participants must take
                  precautions and follow safety guidelines.
                </p>
                <h5 class="themed-red">Data Privacy</h5>
                <p>
                  Your privacy matters to us. By participating, you consent to
                  the collection and processing of your data for event-related
                  purposes only. We use industry-standard security measures to
                  protect your information and won't share it without your
                  consent, except as required by law. If you have any concerns,
                  please contact us. Your trust is important, and we're
                  committed to safeguarding your privacy throughout the event.
                </p>
                <h5 class="themed-red">Event Changes</h5>
                <p>
                  We may need to adjust the event schedule or format due to
                  unforeseen circumstances. Any changes will be promptly
                  communicated via email, social media, or our website. Thank
                  you for your understanding and flexibility. Our priority is to
                  provide a rewarding experience for all participants.
                </p>
                <h5 class="themed-red">Disclaimers</h5>
                <p>
                  The information provided in this event is for general
                  informational purposes only. We make no representations or
                  warranties about the completeness, accuracy, reliability,
                  suitability, or availability of the information.
                </p>
                <p>
                  Any reliance you place on such information is strictly at your
                  own risk. We are not liable for any loss or damage arising
                  from the use of this event. Links to other websites are
                  provided for convenience and do not imply endorsement. We take
                  no responsibility for the temporary unavailability of the
                  event due to technical issues beyond our control.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%- include("../partials/contactInfo.ejs") %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a
          href="javascript:void(0)"
          rel="nofollow"
          class="btn btn-primary"
          id="understood-btn"
          >Understood</a
        >
      </div>
    </div>
  </div>
</div>
