<div class="modal fade" id="ar-vr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">AR/VR, 2D, and 3D Content Creation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="mt-3">
          Are you ready to revolutionize the education sector with cutting-edge technology? Here's your opportunity to
          make an impact! Get ready to dive into the world of immersive learning at the AR/VR eLearning Hackathon 2024.
          Join us for an exciting event where innovation meets education!
        </p>
        <h5 class="themed-red">Why Participate?</h5>
        <p>
          <strong>Collaborate with Creativity:</strong> Team up with developers, designers, and education enthusiasts to
          create innovative solutions that redefine the learning experience.
        </p>
        <p>
          <strong>Show Off Your Skills:</strong> Whether you're a seasoned coder or a newcomer with fresh ideas, this is
          your chance to showcase your talent and make a name for yourself in the industry.
        </p>
        <p>
          <strong>Win Exciting Prizes and Recognition:</strong> Compete for fantastic prizes and recognition. The most
          inventive projects will earn rewards and certificates from the Ministry of Electronics and Information
          Technology (MeitY), boosting your professional profile.
        </p>
        <p>
          <strong>Connect with Experts:</strong> Engage with industry leaders, tech experts, and educators. Expand your
          network and explore future opportunities in the field.
        </p>
        <h5 class="themed-red">Event Highlights</h5>
        <p>
          <strong>Hackathon Sprint:</strong> Dive into a fast-paced coding frenzy. Develop prototypes using the latest
          AR/VR tools and receive feedback from experts along the way.
        </p>
        <p>
          <strong>Workshops and Talks:</strong> Learn from the best with exclusive sessions on AR/VR development, design
          thinking, and emerging trends in eLearning.
        </p>
        <p>
          <strong>Masterclass Sessions:</strong> Learn from the best in the industry. Exclusive workshops on the
          latest AR/VR tools, design thinking, and eLearning trends.
        </p>
        <p>
          <strong>Final Showdown:</strong> Present your solution to a panel of esteemed judges and stand a chance
          to win and get your project incubated.
        </p>
        <p>
          The winning project will be selected based on its ability to deliver high-quality 2D, 3D, and AR/VR content
          efficiently. We're looking for ideas that push boundaries and make a real impact on eLearning. Whether you're
          using established tools or experimenting with new technologies, show us how your solution can revolutionize
          the way we learn!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary applyButton" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ui-ux" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">UI/UX DESIGN</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="d-block pt-3">
          <p>
            UI/UX DESIGNWelcome to the UI/UX track of our Codeathon! We are thrilled to have industry
            professionals and students alike joining us in this creative endeavour to shape the future of user
            interfaces and experiences. Whether you are a seasoned designer or just beginning your journey, this
            competition is an opportunity to showcase your talent, innovation, and commitment to creating
            user-friendly, inclusive digital solutions.
          </p>
          <h3 class="themed-red">Competition Overview</h3>
          <h5 class="themed-red">Objective: </h5>
          <p>
            Design themes and templates for both web and mobile
            applications, incorporating all essential UI elements, while prioritizing intuitiveness, appeal, and
            inclusivity.
          </p>
          <h5 class="themed-red">Guidelines</h5>


          <strong>Theme and Template Requirements</strong>

          <p>
            Design themes/templates for web and mobile applications.
          </p>
          <p>
            Include all essential UI elements (buttons, forms, navigation, etc.).(details on the
            codeathon website)
          </p>
          <p>
            Ensure responsiveness for various screen sizes and devices.
          </p>
          <p>
            Provide a cohesive and consistent design language.
          </p>

          <strong>Color Palette</strong>


          <p>
            Create an intuitive, appealing, and colorful design.
          </p>
          <p>
            Avoid using reds and oranges to consider users with color vision deficiencies.
          </p>
          <p>
            Ensure sufficient color contrast for readability.
          </p>
          <p>
            Use color choices that align with the intended application's purpose and brand.
          </p>
          <strong>Accessibility and Inclusivity</strong>


          <p>
            Adhere to accessibility standards (WCAG) for usability by persons with disabilities.
          </p>
          <p>
            Provide text alternatives for non-text content.
          </p>
          <p>
            Ensure proper contrast ratios for text and background colors.
          </p>
          <p>
            Include keyboard navigation and focus indicators.
          </p>
          <strong>Usability and User-Friendly Design</strong>


          <p>
            Prioritize user-friendly navigation and information architecture.
          </p>
          <p>
            Optimize for an intuitive user experience.
          </p>
          <p>
            Minimize cognitive load by simplifying complex interactions.
          </p>
          <p>
            Consider user personas and design for various user needs.
          </p>
          <strong>Typography</strong>


          <p>
            Use readable fonts with different weights for hierarchy.
          </p>
          <p>
            Ensure appropriate font sizes for different screen sizes.
          </p>
          <p>
            Include line spacing and letter spacing for improved readability.
          </p>

          <strong>Iconography</strong>


          <p>
            Create clear and recognizable icons for common actions.
          </p>
          <p>
            Ensure consistency in iconography style throughout the design.
          </p>

          <strong>Animation and Interactivity:</strong>


          <p>
            Incorporate subtle and purposeful animations to enhance user engagement.
          </p>
          <p>
            Avoid excessive animations that may distract or cause discomfort.
          </p>
          <strong>Forms and Input Elements:</strong>


          <p>
            Design user-friendly forms with clear labels and instructions.
          </p>
          <p>
            Ensure proper validation messages and error handling.
          </p>
          <p>
            Consider adaptive placeholders for form fields.
          </p>

          <strong>Mobile-Specific Considerations:</strong>


          <p>
            Prioritize a mobile-first design approach.
          </p>
          <p>
            Optimize touch interactions for mobile devices.
          </p>
          <p>
            Consider gestures and swiping for navigation.
          </p>

          <strong>Feedback and Error Handling:</strong>


          <p>
            Provide clear feedback for user actions.
          </p>
          <p>
            Design error messages that guide users toward resolution.
          </p>
          <p>
            Ensure that users can easily recover from errors.
          </p>

          <strong>Documentation:</strong>


          <p>
            Include detailed documentation explaining the design choices.
          </p>
          <p>
            Provide insights into the intended use cases for different components.
          </p>


          <strong>Judging Criteria:</strong>


          <p>
            Judging will consider creativity, usability, and adherence to guidelines.
          </p>
          <p>
            A diverse panel of judges with expertise in UI/UX design will evaluate submissions
          </p>


          <strong>Ethical Considerations:</strong>


          <p>
            We encourage designs that prioritize user privacy and data security.
          </p>
          <p>
            We discourage designs that may promote harmful behaviors or stereotypes.
          </p>




          <h5 class="themed-red">Basic UI Elements</h5>

          <strong>Buttons</strong>

          <p>
            Primary buttons
          </p>
          <p>
            Secondary buttons
          </p>
          <p>
            Ghost buttons
          </p>
          <p>
            Icon buttons
          </p>

          <strong>Navigation Elements</strong>

          <p>
            Navigation bars
          </p>
          <p>
            Sidebars
          </p>
          <p>
            Breadcrumbs
          </p>
          <p>
            Pagination links
          </p>
          <p>
            Tabs
          </p>

          <strong>Forms</strong>

          <p>
            Input fields
          </p>
          <p>
            Text
          </p>
          <p>
            Checkboxes and radio buttons
          </p>
          <p>
            Dropdown menus
          </p>
          <p>
            Switches
          </p>

          <strong>Icons</strong>

          <p>
            Icon sets for common actions
          </p>
          <p>
            Social media icons
          </p>

          <strong>Typography</strong>

          <p>
            Headings (H1 to H6)
          </p>
          <p>
            Paragraphs
          </p>
          <p>
            Lists
          </p>
          <p>
            Blockquotes
          </p>

          <strong>Images</strong>

          <p>
            Image placeholders
          </p>
          <p>
            Image galleries
          </p>
          <p>
            Responsive images
          </p>

          <strong>Media Players:</strong>

          <p>
            Video players
          </p>
          <p>
            Audio players
          </p>

          <h5 class="themed-red">Advanced UI Elements</h5>

          <strong>Modals/Dialogs:</strong>

          <p>
            Popup windows for additional information or actions
          </p>

          <strong>Carousels/Sliders</strong>

          <p>
            Image sliders
          </p>
          <p>
            Content sliders
          </p>

          <strong>Tabs</strong>

          <p>
            Horizontal and vertical tabs </p>
          <p>
            Icon tabs
          </p>

          <strong>Accordions</strong>

          <p>
            Expandable and collapsible content sections
          </p>


          <strong>Tooltips</strong>

          <p>
            Small informational pop-ups
          </p>


          <h5 class="themed-red">Data Presentation Elements</h5>

          <strong>Tables</strong>

          <p>
            Responsive data tables
          </p>
          <p>
            Sortable and filterable columns
          </p>
          <p>
            Responsive data tables
          </p>
          <p>
            Sortable and filterable columns
          </p>
          <p>
            Row actions (edit, delete)
          </p>
          <p>
            Pagination for large datasets
          </p>
          <p>
            Table headers for column names
          </p>
          <p>
            Highlighted rows on hover
          </p>

          <strong>Charts and Graphs</strong>

          <p>
            Bar charts
          </p>
          <p>
            Line charts
          </p>
          <p>
            Pie charts
          </p>
          <p>
            Doughnut charts
          </p>

          <strong>Maps</strong>

          <p>
            Interactive maps with markers
          </p>

          <strong>Progress Indicators</strong>

          <p>
            Linear progress bars
          </p>
          <p>
            Circular progress indicators
          </p>

          <strong>Countdown Timers</strong>

          <p>
            Countdown timers for events or promotions </p>


          <h5 class="themed-red">Dashboard-Specific Elements</h5>

          <strong>Widgets</strong>

          <p>Small, modular components displaying specific information</p>

          <strong>Cards</strong>

          <p>Containers for organized content or data</p>

          <strong>Data Tiles</strong>

          <p>Visual representations of data metrics</p>

          <strong>Sidebar Navigation</strong>

          <p>Navigation for specific sections of a dashboard</p>

          <strong>Reports and Analytics Elements</strong>

          <p>Graphs, charts, and data visualizations</p>

          <strong>Dashboard Controls</strong>

          <p>Filters, sliders, and dropdowns for data manipulation</p>

          <h5 class="themed-red">Interactive UI Elements</h5>

          <strong>Drag-and-Drop</strong>

          <p>Elements that can be moved or rearranged using drag-and-drop interactions.</p>

          <strong>Resizable Panels</strong>

          <p>Sections or panels that can be resized by the user.</p>

          <strong>Toggle Switches</strong>

          <p>On/off switches for activating or deactivating a feature.</p>

          <strong>Steppers</strong>

          <p>Incremental or decremental input controls.</p>

          <h5 class="themed-red">Navigation Elements</h5>

          <strong>Mega Menus</strong>

          <p>Large, multi-column dropdown menus.</p>

          <strong>Sticky Navigation</strong>

          <p>Navigation bars that remain fixed as the user scrolls.</p>

          <h5 class="themed-red">Multimedia Elements</h5>
          <strong>Image Carousels</strong>

          <p>Rotating displays of images or content.</p>

          <strong>Lightbox</strong>

          <p>Overlay for displaying larger images or media.</p>


          <h5 class="themed-red">Social Interaction Elements</h5>

          <ol class="list-group list-group-numbered">

            <strong>Social Share Buttons</strong>

            <p>Buttons for sharing content on social media platforms.</p>
            </p>

            <strong>Comment Sections</strong>

            <p>Areas for user comments and discussions.</p>



            <h5 class="themed-red">E-commerce Elements</h5>


            <strong>Product Cards</strong>

            <p>Displaying key information about products.</p>

            <strong>Shopping Cart</strong>

            <p>Section showing selected items for purchase.</p>

            <strong>Checkout Forms</strong>

            <p>Forms for entering shipping and payment details.</p>


            <h5 class="themed-red">Authentication Elements</h5>

            <strong>Login/Registration Forms</strong>

            <p>Forms for user authentication and account creation.</p>

            <h5 class="themed-red">Accessibility Elements</h5>

            <ol class="list-group list-group-numbered">

              <strong>Text-to-Speech</strong>

              <p>Integration for converting text to spoken words.</p>

              <strong>High Contrast Mode</strong>

              <p>A switch to enable a high-contrast color scheme.</p>



              <h5 class="themed-red">Animation Elements</h5>


              <strong>Parallax Scrolling</strong>

              <p>Background elements moving at a different speed than the foreground.</p>

              <strong>Hover Effects</strong>

              <p>Changes in appearance when the cursor hovers over an element.</p>



              <h5 class="themed-red">Mobile-Specific Elements</h5>


              <strong>Hamburger Menu</strong>

              <p>Three-bar icon indicating a hidden menu.</p>

              <strong>Swipe Gestures</strong>

              <p>Navigation or interaction triggered by swiping.</p>



              <h5 class="themed-red">Miscellaneous Elements</h5>


              <strong>QR Code Integration</strong>

              <p>QR codes for quick access to information or links.</p>

              <strong>Captcha</strong>

              <p>Verification mechanism to ensure human interaction.</p>

              <strong>Animated Loaders</strong>

              <p>Visual cues indicating that content is loading.</p>

              <strong>Error Pages</strong>

              <p>Custom pages for 404 errors or other issues.</p>

              <strong>Legal and Privacy Links</strong>

              <p>Links to terms of service, privacy policy, etc.</p>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary applyButton" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="machine-learning" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Machine Learning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          You're invited to our thrilling Codeathon! Join us for a day
          of innovation, collaboration, and groundbreaking
          solutions. Unleash your coding prowess in the realm of
          machine learning. Your expertise is the key to shaping
          the future. Let the coding excitement begin!
        </p>


        <h5 class="themed-red">Motion Tracking in Games</h5>

        <p>Develop a motion tracking system in games, particularly in the context
          of the metaverse. Engage technology and techniques used to capture and translate real-world
          movements into the virtual environment. Implementation should enhance the user's experience
          by
          allowing their physical actions to be reflected in the digital space.</p>

        <h5 class="themed-red">Auto Attendance</h5>

        <p>Develop an auto attendance algorithm capturing attendance using Facial
          Recognition. "Auto attendance" typically refers to automated systems or processes for
          tracking
          and recording attendance without manual intervention.</p>

        <h5 class="themed-red">Timetable Scheduling</h5>

        <p>Develop a Machine Learning algorithm to automate timetable scheduling.
          Engage complex optimization problem that involves assigning resources (such as rooms,
          teachers,
          and time slots) to a set of events (such as classes, exams, or meetings) while satisfying
          various constraints and objectives.</p>

        <h5 class="themed-red">Detection of Disability using machine learning algorithms</h5>

        <p> Develop a system to detect intellectual disabilities using machine learning based on visible
          features, assessment test reports and results of the IQ tests by analysing and interpreting
          visible and textual characteristics or traits to identify potential disabilities. The term
          "disability" encompasses a wide range of conditions, and not all disabilities may be
          identifiable solely through visible features.</p>

        <h5 class="themed-red">Behaviour and Learning Analytics</h5>

        <p>Develop algorithms to analyse Behaviour and learning
          analytics. Incorporate behavior and learning analytics using machine learning leveraging
          data
          generated by users' actions and interactions in educational or behavioral settings to gain
          insights, make predictions, and improve outcomes.</p>

        <h5 class="themed-red">Nearest Clinical Psychologist + Psychiatrist Recommendation System
        </h5>


        <p>Develop an algorithm to
          suggest the nearest and best Psychologist and psychiatrist of the area. Involves machine
          learning and data-driven techniques to match individuals with appropriate psychologists and
          psychiatrists based on their needs and preferences.</p>

        <h5 class="themed-red">Test Recommender System</h5>

        <p>Create a Test Recommender System based on the ailing conditions of the
          patient. Disability test recommendation system can assist special educators, and general
          services experts in using the test according to the age group, verbal and non-verbal nature.
        </p>

        <h5 class="themed-red">Education Plan Generator</h5>

        <p>Create an algorithm to generate individual education plans using the
          needs, abilities, level of understanding, and related topics for persons with intellectual
          disabilities. Use optimization algorithms to finetune the education plans, tailor the plan
          to
          their needs.</p>

        <h5 class="themed-red">Context Based Translation</h5>

        <p>Traditional machine translation systems often translate sentences
          independently, which may lead to inaccuracies, especially in cases where the meaning of a
          word
          or phrase depends on the context. Develop a system that could overcome such inaccuracies and
          increase the efficiency of the system.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary applyButton" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gameDevelopment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Game Development</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h3 class="themed-red">Inclusive Educational Game Development Competition for Persons with
          Intellectual Disabilities</h3>
        <p>Welcome to the Inclusive Educational Game Development Track, where talented
          developers have the unique opportunity to create small, engaging games specifically designed for
          children with intellectual disabilities. The goal is to develop intuitive and enjoyable learning
          experiences for these children in subjects such as math, English, social skills, science, and
          more, utilizing ReactJS.

        </p>


        <h5 class="themed-red">Theme</h5>
        <p>
          The overarching theme of the competition is to foster educational growth and enjoyment
          for children with intellectual disabilities. Games should be designed to cater to their
          specific needs, promoting inclusively and accessibility. The games need to be developed
          for the following subjects:
        </p>
        <p>Motor and Physical activities</p>
        <p>Self-care activities</p>
        <p>Communication skills</p>
        <p>Pre-academic and academic skills</p>
        <p>Time and Money Management skills</p>
        <p>Social and Community orientation skills</p>
        <p>Domestic skills</p>
        <p>Recreation and leisure time activities</p>
        <p>Prevocational Skills</p>




        <h5 class="themed-red">Submission Categories</h5>

        <p>
          <strong>Adaptive Math Mastery Games:</strong> Develop games that adapt to the individual learning pace of
          children with intellectual disabilities, focusing on improving mathematical skills
          through
          interactive and engaging activities.
        </p>
        <p>
          <strong>Language Enrichment Games:</strong> Create games that provide a supportive environment for
          language
          development, including elements of spelling, grammar, and vocabulary tailored for
          children with
          intellectual disabilities.
        </p>
        <p>
          <strong>Social Inclusion Challenges:</strong> Design games that encourage positive social interactions,
          teamwork,
          and communication, specifically addressing the needs of children with intellectual
          disabilities.
        </p>
        <p>
          <strong>Scientific Exploration Games:</strong> Develop games that spark curiosity and interest in
          science,
          introducing basic scientific concepts in a way that is accessible and enjoyable for
          children
          with intellectual disabilities.
        </p>
        <p>
          <strong>Multi-Subject Inclusive Games:</strong> Create games that seamlessly integrate elements from
          multiple
          subjects, ensuring a holistic and adaptive learning experience for children with
          intellectual
          disabilities.
        </p>



        <strong> </strong>
        <h5 class="themed-red">Technical Requirements</h5>

        <p>
          <strong>Framework:</strong> Games must be developed using ReactJS.
        </p>
        <p>
          <strong>Accessibility:</strong> Implement features that enhance accessibility for children with
          intellectual
          disabilities, such as clear navigation, simple controls, and customizable difficulty
          levels.
        </p>



        <h5 class="themed-red"> Evaluation Criteria</h5>
        <p><strong>Adaptability:</strong> The game's ability to adapt to the individual learning needs and pace of
          children
          with intellectual disabilities.</p>
        <p><strong>Inclusive Design:</strong> The incorporation of features that make the game accessible and
          enjoyable for
          children with intellectual disabilities.</p>
        <p><strong>Engagement:</strong> The level of interest and enjoyment the game provides to the players.</p>
        <p><strong>Technical Excellence:</strong> The implementation of ReactJS ensuring a robust and
          efficient
          gaming experience.</p>



        <strong> </strong>
        <h5 class="themed-red">Submission Guidelines</h5>
        <p><strong>Deadline:</strong> All submissions must be made by 10<sup>th</sup> March 2024.</p>
        <p>Code Repository: Participants must provide a link to their code repository (e.g.,
          GitHub) along
          with the submission.</p>
        <p><strong>Documentation:</strong> Include a brief document explaining the educational aspects, game
          mechanics, and
          technical details of your submission, with a focus on inclusivity.</p>
        <p><strong>Playable Demo:</strong> Provide a link to a playable demo or a video walkthrough showcasing the
          game.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary applyButton" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>

<!-- Feature Course -->
<section class="section new-course">
  <div class="container">
    <div class="section-header aos" data-aos="fade-up">
      <div class="section-sub-head">
        <span>Hackathon</span>
        <h2>Hackathon domains</h2>
      </div>
    </div>
    <div class="course-feature">
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex">
          <div class="course-box d-flex aos" data-aos="fade-up">
            <div class="product">
              <div class="product-img">
                <a href="/ar-vr" data-bs-toggle="modal" data-bs-target="#ar-vr">
                  <img class="img-fluid" alt="coding carnival" src="assets/img/homeImage/AR_VR.png">
                </a>
              </div>
              <div class="product-content">
                <h3 class="title instructor-text">
                  <a href="/ar-vr" data-bs-toggle="modal" data-bs-target="#ar-vr" class="themed-red">AR/VR, 2D, and 3D
                    Content Creation</a>
                </h3>
                <div class="d-flex align-items-center">
                  <p class="">
                    Join us for an immersive journey into AR/VR and 2D/3D content creation. Unleash your creativity,
                    collaborate with fellow innovators, and shape the future of digital experiences. Let's explore,
                    create, and innovate together!
                  </p>
                </div>

                <div class="all-btn all-category d-flex align-items-center">
                  <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ar-vr">See
                    more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex">
          <div class="course-box d-flex aos" data-aos="fade-up">
            <div class="product">
              <div class="product-img">
                <a href="/ui-ux" data-bs-toggle="modal" data-bs-target="#ui-ux">
                  <img class="img-fluid" alt="coding carnival" src="assets/img/homeImage/UI-UX.png">
                </a>
              </div>
              <div class="product-content">
                <h3 class="title instructor-text">
                  <a href="/ui-ux" data-bs-toggle="modal" data-bs-target="#ar-vr" class="themed-red">UI/UX Design</a>
                </h3>
                <div class="d-flex align-items-center">
                  <p class="">
                    Calling UI/UX designers! Join our accessibility-focused hackathon! Let's craft intuitive, inclusive
                    web & mobile apps to empower every user. Together, we'll make tech more inclusive and innovate
                    together! </p>
                </div>

                <div class="all-btn all-category d-flex align-items-center">
                  <a href="/ui-ux" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ui-ux">See more</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex">
          <div class="course-box d-flex aos" data-aos="fade-up">
            <div class="product">
              <div class="product-img">
                <a href="game-development" data-bs-toggle="modal" data-bs-target="#gameDevelopment">
                  <img class="img-fluid" alt="coding carnival" src="assets/img/homeImage/Game Development.png">
                </a>
              </div>
              <div class="product-content">
                <h3 class="title instructor-text">
                  <a href="game-development" data-bs-toggle="modal" data-bs-target="#gameDevelopment"
                    class="themed-red">Game Development</a>
                </h3>
                <div class="d-flex align-items-center">
                  <p class="">
                    Join us in crafting web-based games tailored for intellectually disabled learners. Collaborate,
                    innovate, and create inclusive gaming experiences that empower and inspire. Let's make a difference
                    through play!
                  </p>
                </div>

                <div class="all-btn all-category d-flex align-items-center">
                  <a href="game-development" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#gameDevelopment">See more</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex">
          <div class="course-box d-flex aos" data-aos="fade-up">
            <div class="product">
              <div class="product-img">
                <a href="/machine-learning" data-bs-toggle="modal" data-bs-target="#machine-learning">
                  <img class="img-fluid" alt="coding carnival" src="assets/img/homeImage/Machine Learning.png">
                </a>
              </div>
              <div class="product-content">
                <h3 class="title instructor-text">
                  <a href="/machine-learning" data-bs-toggle="modal" data-bs-target="#machine-learning"
                    class="themed-red">Machine Learning</a>
                </h3>
                <div class="d-flex align-items-center">
                  <p class="">
                    Join our ML Hackathon! Collaborate to innovate for inclusive education using machine learning.
                    Harness its power to analyze learning patterns, and create tailored recommendations. Let's
                    revolutionize education accessibility and empower all learners together! </p>
                </div>

                <div class="all-btn all-category d-flex align-items-center">
                  <a href="/machine-learning" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#machine-learning">See more</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- /Feature Course -->