<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>


</head>

<body style="margin: 0;">

    <div class="mail" style="
            margin:auto;
            width:fit-content">
        <div style="max-width: 600px;">
            <div class="logo-div" style=" padding: 8px;
                text-align:center;
                background-color: #ffeeee;
                ">
                <a href="https://codingcarnival.in/">
                    <img src="https://i.ibb.co/dfKRPdd/CC-LOGO-title.png" alt="CC-LOGO-title" border="0" style=" 
                    width: 30%;">
                </a>

            </div>

            <div class="congrats-div" style=" margin: auto;
                    text-align: center;">
                <img src="https://i.ibb.co/BsYSg8z/ar-vr.png" alt="ar-vr" border="0" width="50%">
                <h1 style="
            font-size:38px;
            font-weight:600;
            color:	#5cb85c ;
            ">
                    Congrats
                </h1>
                <p>You have successfully registered with us.</p>
            </div>


            <div class="mail-body" style="
                    margin-top: 16px;
                    padding: 12px 20px;
                    background-color: #fcdedc;">
                <p>Hello, <%= data.teamName%>
                </p>
                <p> Thank you for registering for the Coding Carnival Hackathon! Your team ID is <%= data.teamId%>. Your
                        participation promises to bring excitement and innovation to the event.</p>

                <div style="
                
                text-align:center;
            
            ">
                    <div style="
                padding:12px 14px;
                font-weight:500;
                background-color: #f7c2be;
                margin:auto;
                max-width:300px;">
                        TEAM ID: <%= data.teamId%>

                    </div>
                </div>

                <p> Your initial status will be pending. Our team will now verify the information you provided. You can
                    check the
                    status of your application using either the Team ID or your mobile number.</p>

                <p> We'll keep you updated on all the important details. Get ready to showcase your skills and
                    creativity! </p>

                <p>Best regards,</p>
                <p>Team Coding Carnival </p>
                <div style="
                
                text-align:center;
            
            ">
                    <a href="https://codingcarnival.in/status" style="text-decoration: none;"><button
                            style="background-color: #ff875a; color:#fff; border-radius: 8px; padding:12px 14px; width: auto !important; margin: auto !important; border: none;">Check
                            status</button></a>
                </div>
            </div>
            <div style="
            background-color:#345870;
            color:#fff;
            padding: 12px 20px;

            margin:0;
            text-align:center;
            ">

                <h2>CONTACT US</h2>
                <a href="https://codingcarnival.in/" style="
                color:#fff;
                text-decoration:none;
                ">
                    www.codingcarnival.in
                </a>

                <div style="text-align:center; margin-top: 20px;">
                    <a href="https://www.facebook.com/photo?fbid=122105957528208397&set=pb.61556251927222.-2207520000" style="margin: 10px; text-decoration:none;"><img src="https://i.ibb.co/DYkP6ZD/icons8-facebook-96.png" alt="icons8-facebook-30" border="0" style="height: 40px !important; width: 40px !important;" ></a>
                    <a href="https://www.instagram.com/p/C3R28ACozZY/" style="margin: 10px; text-decoration:none;"><img src="https://i.ibb.co/6y0ZWYg/icons8-instagram-96.png" alt="icons8-instagram-16" border="0" style="height: 40px !important; width: 40px !important;"></a>
                    <a href="https://www.linkedin.com/in/coding-carnival/recent-activity/all/" style="margin: 10px; text-decoration:none;"><img src="https://i.ibb.co/gT7DbNJ/icons8-linked-in-96.png" alt="icons8-linked-in-48" border="0" style="height: 40px !important; width: 40px !important;"></a>
                </div>
                <p>

                    If you need any assistance, feel free to contact us. We're here to help!
                </p>
                <p>
                    <strong>Mobile:</strong>
                    <a href="tel:+919973152523" rel="nofollow" style="
                        color:#fff;
                        text-decoration:none;
                        ">+91 99731 52523</a>
                    |
                    <a href="tel:+916204923788" rel="nofollow" style="
                        color:#fff;
                        text-decoration:none;
                        ">+91 6204 923788</a><br />
                    <strong>Email: </strong>
                    <a href="info@codingcarnival.in" style="
                      color:#fff;
                      text-decoration:none;
                      ">info@codingcarnival.in</a>
                    |
                    <a href="mailto:meity.2p@manuu.edu.in" style="
                        color:#fff;
                        text-decoration:none;
                        ">meity.2p@manuu.edu.in</a>
                    <br />
                    <br>
                    <strong>Department Address:</strong>
                    Department of Computer Science & Information Technology, Maulana Azad
                    National Urdu University, Gachibowli, Hyderabad - 500032
                </p>

            </div>
        </div>
    </div>

</body>

</html>