<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/headerVendor.ejs')%>
  </head>
  <body>
    <%- include('../partials/navbar.ejs')%>
    <div class="success-page row justify-content-center align-items-center">
      <div class="col-lg-6">
        <i class="bi bi-check-circle-fill fs-3 text-success"></i>
        <h3 class="mt-3 mb-0" style="color: #7588fd">Registration Status</h3>
        <p class="text-secondary mt-3 mb-4">
          Congratulations! You have been verified.
        </p>
        <%- include('../partials/contactMessageVendor.ejs')%>

      </div>
    </div>

    <%- include('../partials/footerVendor.ejs')%>
  </body>
</html>
