<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headerVendor.ejs')%>
        <link rel="stylesheet" href="../css/style.css">
</head>

<body class="bg-body-secondary">
    <%- include('../partials/navbar.ejs')%>
        <div class="container py-5">
            <h3 class="mt-5 mb-0 heading" style="color: #7588fd">2D, 3D, AND AR/VR CONTENT CREATION</h3>

            <h4 class="mt-3" style="color: #7588fd">Inclusive Educational Game Development Competition for Persons with Intellectual
                Disabilities</h5>
                <p class="mt-3 fw-semibold">
                    Are you passionate about transforming the education landscape with cutting-edge technology? Here's
                    your chance to shine! We invite innovators, tech enthusiasts, and visionary minds to participate in
                    the pioneering AR/VR eLearning Hackathon 2024. This is not just a hackathon; it's a movement to
                    revolutionise learning experiences!
                </p>
                <div class="card mb-3">

                    <div class="card-body d-block fw-semibold">

                        <h5 style="color: #7588fd">Why Participate?</h5>

                        <ul>
                            <li>
                                Collaborate with Brilliance: Join a community of talented developers, creative
                                designers, and educational experts driving the next wave of digital learning.
                            </li>
                            <li>
                                Showcase Your Talent: Whether you're a seasoned developer or a budding innovator, this
                                is your platform to shine and showcase your skills to industry leaders.
                            </li>
                            <li>
                                Win Exciting Prizes and Recognition: Attractive rewards await the most innovative
                                solutions that can redefine eLearning through immersive AR and VR technologies. The
                                winners will also be honoured with certificates from the Ministry of Electronics and
                                Information Technology (Meity), adding a prestigious accolade to their professional
                                portfolio.
                            </li>
                            <li>
                                Network with Industry Stalwarts: Engage with tech gurus, business leaders, and
                                eLearning experts. Expand your professional network and open doors to new opportunities.
                            </li>
                        </ul>

                        <h5 style="color: #7588fd">Event Highlights</h5>

                        <ul>
                            <li>
                                Idea-Thon: A dedicated segment to brainstorm and pitch groundbreaking ideas that blend
                                AR/VR with eLearning. It's not just about ideas; it's about redefining the way we learn
                                and teach.
                            </li>
                            <li>
                                Build & Test: Develop prototypes with state-of-the-art tools and receive real-time
                                feedback from AR/VR users and eLearning experts.
                            </li>
                            <li>
                                Masterclass Sessions: Learn from the best in the industry. Exclusive workshops on the
                                latest AR/VR tools, design thinking, and eLearning trends.
                            </li>
                            <li>
                                Final Showdown: Present your solution to a panel of esteemed judges and stand a chance
                                to win and get your project incubated.
                            </li>
                        </ul>
                        <h5 style="color: #7588fd">Event Highlights</h5>

                        <ul>
                            <li>
                                The winner will be decided based on the best idea to create high-quality 2D, 3D, and
                                AR/VR content as quickly as possible. We are looking for solutions that excel in
                                innovation, usability, and impact, regardless of the tools or technology involved. Show
                                us how your idea can transform eLearning with speed and quality!
                            </li>
                        </ul>
                        <h5 style="color: #7588fd">Tools for Excellence</h5>
                        <ul>
                            <li>
                                Creating immersive, engaging, and interactive 2D and 3D videos is paramount in AR/VR
                                eLearning solutions. To help you transform your visions into reality, we provide access
                                to a suite of cutting-edge tools and platforms:
                                <ul>
                                    <li>
                                        Rapid Prototyping Tools: Utilize platforms like Unity3D and Unreal Engine.
                                    </li>
                                    <li>
                                        3D Modeling Software: Craft models using tools such as Blender and Autodesk
                                        Maya.
                                    </li>
                                    <li>
                                        Animation Suites: Animate your models with Adobe After Effects and Cinema 4D.
                                    </li>
                                    <li>
                                        AR Development Kits: Overlay digital content onto the real world with ARCore
                                        and ARKit.
                                    </li>
                                    <li>
                                        VR Ready Systems: Test and optimize your solutions with high-performance
                                        computing systems and the latest VR headsets.
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

        <%- include("../partials/footerVendor.ejs") %>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
</body>

</html>