<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headerVendor.ejs')%>
        <link rel="stylesheet" href="../css/style.css">
</head>

<body class="bg-body-secondary">
    <%- include('../partials/navbar.ejs')%>
        <div class="container py-5">
            
            <h3 class="mt-5 mb-0 heading" style="color: #7588fd">About Sponsors</h3>

            <div class="row pt-5">
                <div class="col-lg-6 mb-3">
                    <div class="card card-body custom-card">
                        <div class="d-block text-center py-4">
                            <img src="../images/manuu-logo.png" alt="" width="40%">
                        </div>
                        <div class="d-block">
                            <p style="text-align: justify;">
                                Maulana Azad National Urdu University (MANUU) is a Central University established by an
                                Act of Parliament in 1998. The headquarter and main campus of MANUU is located in
                                Gachibowli, Hyderabad, Telangana State, over an area of 200 acres. The University is
                                named after Maulana Abul Kalam Azad, the freedom fighter and outstanding scholar, who as
                                the first Education Minister of Independent India envisioned and laid the foundation of
                                technical, scientific and higher education in India.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-3">
                    <div class="card card-body custom-card">
                        <div class="d-block text-center py-4">
                            <img src="../images/edeekshaam-logo.png" alt="" width="38%">
                        </div>
                        <div class="d-block">
                            <p style="text-align: justify;">
                                The Ministry of Electronics and Information Technology (MeitY) is an executive agency of
                                the Union Government of the Republic of India. It was carved out of the Ministry of
                                Communications and Information Technology on 19 July 2016 as a standalone ministerial
                                agency responsible for IT policy, strategy and development of the electronics industry.
                                Under the sponsorship of the Ministry of Electronics and Information Technology, the
                                "Northeast Heritage" Web, owned by the Government of India, publishes information on
                                Northeast India, in 5 Indian languages, Assamese, Meitei (Manipuri), Bodo, Khasi and
                                Mizo, in addition to Hindi and English.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("../partials/footerVendor.ejs") %>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
</body>

</html>